{{ define "main" }}
  <div id="state-races" class="splash-container" style="text-align: center;">
   <h1 class="section-header-splash grey">
    Local Races for {{ .Title }}
   </h1>
   <div id="splash-text">
    {{ .Content }}
   </div>
   <hr class="clear-splash">
   <div class="container-fluid">
     <ul class="row row-centered">
      <!-- choose race district -->
      {{ range .Sections }}
      <li class="col-md col-sm-4 col-xs-6">
       <a
        href="{{ .URL }}"
        class="btn btn-primary btn-lg district-button">
        {{ .Params.shortTitle }}
        </a>
      </li>
      {{ end }}
     </ul>
   </div>
   <div class="clear-splash">
   </div>
  </div>

  {{ partial "ad-leaderboard.html" . }}

  {{ partial "candidate-list.html" . }}
{{ end }}
