{{ define "main" }}
  <div id="state-races" class="splash-container" style="text-align: center;">
   <h1 class="section-header-splash grey">
    {{ .Title }}
   </h1>
   <div id="splash-text">
    {{ .Content }}
   </div>
   <div class="col-md-12 col-sm-6 col-xs-6">
    <a href="http://mdelect.net/" class="btn btn-primary btn-lg find-district-button" type="button">
     FIND YOUR DISTRICT
    </a>
   </div>

   <hr class="clear-splash">
   <ul>
    <!-- choose race district -->
    {{ range seq .Params.districts }}
    <li class="col-md-4 col-sm-4 col-xs-6">
     <a
      href="/{{ $.Slug }}/district-{{ . }}/"
      class="btn btn-primary btn-lg district-button"
      type="button">
      District {{ . }}
     </a>
    </li>
    {{ end }}
   </ul>
   <div class="clear-splash">
   </div>
  </div>

  {{ partial "ad-leaderboard.html" . }}

   <h1 class="section-header-splash grey">
    All Candidates
   </h1>
   <!-- TODO: Searchamajig? -->
   <div class="container-fluid">
    <div class="table-responsive">
     <table class="table table-striped table-hover table-bordered">
       <thead>
        <tr>
         <th>
          Name
         </th>
         <th>
          District
         </th>
         <th>
          Party
         </th>
        </tr>
       </thead>
       <tbody>
        {{ $inSection := where .Site.Pages "Section" .Section }}
        {{ $pagesInSection := where $inSection "Kind" "page" }}
        {{ range sort $pagesInSection ".URL" }}
        <tr>
         <td>
          <a href="{{ .URL }}">
           {{ .Title }}
          </a>
         </td>
         <td>
          <a href="{{ .CurrentSection.URL }}">
           {{ .Parent.Param "shortTitle" }}
          </a>
         </td>
         <td>
          {{ .Param "party" }}
         </td>
        </tr>
        {{ end }}
       </tbody>
     </table>
    </div>
   </div>
{{ end }}
