{{ define "extra-head" }}
  {{ $leafletJS := resources.Get "scripts/leaflet.js" }}
  {{ $geosearchJS := resources.Get "scripts/geosearch.js" }}
  {{ $pipJS := resources.Get "scripts/leaflet-pip.js" }}

  {{ $js := slice $leafletJS $geosearchJS $pipJS | resources.Concat "scripts/leaflet-bundle.js" | minify | fingerprint }}
  <script src='{{ $js.Permalink }}'></script>
{{ end }}
{{ define "main" }}
  <div class="district-list">
   <h1 class="section-header-splash grey">
    {{ if not .Page.Parent.IsHome }}
      {{ block "breadcrumbnav" (dict "p1" . "p2" .) }}
        {{ if .p1.Parent }}
          {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
        {{ end }}
        {{ if .p1.IsHome|not }}
          {{ if eq .p1 .p2 }}
            {{ .p1.Param "shorttitle" | default .p1.Title }}
          {{ else }}
          <a class="page-header-link" href="{{ .p1.Permalink }}">
            {{- .p1.Param "shorttitle" | default .p1.Title -}}
          </a>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ .Title }}
    {{ end }}
   </h1>
   <div class="district-list-text col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    {{ .Content }}
   </div>

   <div class="clear-splash"></div>

   <div class="btn-group">
    <button class="btn btn-secondary btn-lg dropdown-toggle district-picker" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span>Choose district</span>
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{ $parent := . }}
      {{ range where .Site.Pages.ByWeight "Kind" "section" }}
      {{ if and (ne . $parent) (.IsDescendant $parent) (len .Pages) }}
      <li class="district">
       <a href="{{ .URL }}" class="dropdown-item">{{ .Params.shortTitle }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
   </div>
  </div>

  {{ if .Params.mapFile }}
    <div id="map" data-map-layer="{{ .Params.mapFile}}"></div>
  {{ end }}


   <hr class="clear-splash">

  {{ if .Params.showDistrictsTable }}
  <div class="table-width">
    <div class="container-fluid">
     <div class="table-responsive">
       <table class="table table-striped table-hover table-bordered table-mobile districts-list-table">
         <thead>
           <tr>
             <th>District</th>
             <th>Counties in District</th>
             <th>Major Cities / Neighborhoods</th>
           </tr>
         </thead>
         <tbody>
           {{ range $n, $district := index .Site.Data.stateDistricts }}
           {{ $link := printf "/%s/district-%d/" $.Slug (add 1 $n) }}
           <tr>
             <td><span><b>District: </b></span><a href="{{ $link }}">{{ add 1 $n }}</a></td>
             <td><span><b>Counties in District: </b></span><a href="{{ $link }}">{{ $district.counties }}</a></td>
             <td><span><b>Major Cities / Neighborhood: </b></span><a href="{{ $link }}">{{ $district.neighborhoods }}</a></td>
           </tr>
           {{ end }}
         </tbody>
       </table>
     </div>
    </div>
  </div>
  {{ end }}

  {{ partial "ad-leaderboard.html" . }}

  {{ partial "candidate-list.html" . }}
{{ end }}
