{{ define "main" }}
  <div class="district-list">
   <h1 class="section-header-splash grey">
    {{ .Title }}
   </h1>
   <div class="district-list-text col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    {{ .Content }}
   </div>

   <div class="clear-splash"></div>

   <a href="http://mdelect.net/" class="btn btn-primary btn-lg find-district-button">
    FIND YOUR DISTRICT
   </a>

   <hr class="clear-splash">

   <div class="btn-group">
    <button class="btn btn-secondary btn-lg dropdown-toggle district-picker" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span>Choose district</span>
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     {{ range seq .Params.districts }}
      {{ $link := printf "/%s/district-%d" $.Slug . }}
      <li class="district">
       <a href="{{ $link }}" class="dropdown-item">District {{ . }}</a>
      </li>
     {{ end }}
    </ul>
   </div>
  </div>

  {{ if .Params.showDistrictsTable }}
  <div class="container-fluid">
   <div class="table-responsive">
     <table class="table table-striped table-hover table-bordered districts-list-table">
       <thead>
         <tr>
           <th>District</th>
           <th>Counties in District</th>
           <th>Major Cities / Neighborhoods</th>
         </tr>
       </thead>
       <tbody>
         {{ range $n, $district := index .Site.Data.stateDistricts }}
         {{ $link := printf "/%s/district-%d/" $.Slug (add 1 $n) }}
         <tr>
           <td><a href="{{ $link }}">{{ add 1 $n }}</a></td>
           <td><a href="{{ $link }}">{{ $district.counties }}</a></td>
           <td><a href="{{ $link }}">{{ $district.neighborhoods }}</a></td>
         </tr>
         {{ end }}
       </tbody>
     </table>
   </div>
  </div>
  {{ end }}

  {{ partial "ad-leaderboard.html" . }}

  {{ partial "candidate-list.html" . }}
{{ end }}
