{{ define "extra-head" }}
<script>
  $(document).ready(function(){
    $(".js-filter-party").on('click', function(e) {
      var party = $(e.target).data('party-toggle');
      if (party === "democrats") {
        $("#democrats").show();
        $("#republicans").hide();
        $("#greens").hide();
        $("#choosePartyText").empty();
        $("#choosePartyText").text("Democrats");
      } else if (party === "republicans") {
        $("#democrats").hide();
        $("#republicans").show();
        $("#greens").hide();
        $("#choosePartyText").empty();
        $("#choosePartyText").text("Republicans");
      } else if (party === "greens") {
        $("#democrats").hide();
        $("#republicans").hide();
        $("#greens").show();
        $("#choosePartyText").empty();
        $("#choosePartyText").text("Greens");
      } else if (party === "all") {
        $("#democrats").show();
        $("#republicans").show();
        $("#choosePartyText").empty();
        $("#choosePartyText").text("Choose Party");
      }
    });
  });
</script>
{{ end }}

{{ define "main" }}
  <div id="state-races" class="splash-container">
   <h1 class="section-header-splash grey">
    GOVERNOR / LT. GOVERNOR
   </h1>
   <div class="btn-group col-md-12 col-sm-12 col-xs-12" id="testing" style="width:300px;">
    <button class="btn btn-primary btn-lg dropdown-toggle" id="chooseDistrict" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span id="choosePartyText">
      Choose party
     </span>
     <span class="caret">
     </span>
    </button>
    <ul class="dropdown-menu">
     <!-- choose race district -->
     <li class="js-filter-party" data-party-toggle="democrats">
      Democrats
     </li>
     <li class="js-filter-party" data-party-toggle="republicans">
      Republicans
     </li>
     <li class="js-filter-party" data-party-toggle="greens">
      Greens
     </li>
     <li class="js-filter-party" data-party-toggle="all">
      See all
     </li>
    </ul>
   </div>

   {{ range .CurrentSection.Pages.GroupByParam "party" }}
   <div id="{{ .Key | lower | pluralize }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="party-header {{.Key|lower}}bg">
      {{ .Key | pluralize }}
     </div>
    </div>
    {{ range .Pages }}
    <div class="col-md-6 col-sm-6 col-xs-6">
     <a href="{{.URL}}" class="btn btn-primary btn-lg district-button" type="button">
      {{ .Title }}
     </a>
    </div>
    {{ end }}
   </div>
   {{ end }}
  </div>
  <!-- END GOV LISTINGS -->
  <div class="clear-splash">
  </div>
  <div id="leaderboard-ad" class="splash-ad">
   <!-- leaderboard ad-->
   <script type="text/javascript">
    googletag.cmd.push(function() {

            //Adslot 1 declaration
            gptadslots[1]= googletag.defineSlot('/4011/trb.baltimoresun/news', [[728,90]],'div-gpt-ad-785317941620082696-1').setTargeting('pos',['1']).addService(googletag.pubads());

            googletag.pubads().setTargeting('ptype',['s']);
            googletag.pubads().enableAsyncRendering();
            googletag.enableServices();
          });
   </script>
   <!-- End: GPT -->
   <!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[728,90]] -->
   <!-- Adslot&#39;s refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
   <div id="div-gpt-ad-785317941620082696-1">
    <script type="text/javascript">
     googletag.cmd.push(function() { googletag.display('div-gpt-ad-785317941620082696-1'); });
    </script>
   </div>
   <!-- End AdSlot 1 -->
  </div>
{{ end }}
