{{ define "main" }}
  <div id="state-races" class="splash-container" style="text-align: center;">
   <h1 class="section-header-splash grey">
    {{ .Title }}
   </h1>
   <div id="splash-text">
    The following candidates participated in the 2018 Maryland primary, but will not be on the general election ballot. This information is provided for archival reasons.
   </div>
   <hr class="clear-splash">
  </div>

  {{ partial "ad-leaderboard.html" . }}

  {{ partial "candidate-list.html" . }}
{{ end }}
