<style type="text/css">
body {
  font-family: sans-serif;
}
.race h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: bolder;
  border-bottom: 3px solid #d0d0d0;
}
.race h1.Democrat {
  border-bottom: 3px solid #2e98cc;
}
.race h1.Republican {
  border-bottom: 3px solid #ed4227;
}
.race a {
  float: right;
  color: black;
  font-size: 0.75rem;
}
.race table {
  width: 100%;
}

.race th {
  font-weight: normal;
  word-break: break-word;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.6rem;
}

.race td.candidate {
  width: 50%;
  color: #667682;
}
.race td.votes {
  width: 25%;
  color: #667682;
  white-space: nowrap;
}
.race td.name {
  font-weight: bold;
}

.race td {
  font-size: 0.8rem;
  border-bottom: 1px dashed #cdcdcd;
}
.frontrunner {
  background-color: #efeeee;
}
@media (max-width: 750px) {
  .race td.candidate {
  width: 60%;
}
  .race td.votes {
    width: 40%;
  }
}
</style>

<div class="race">
  <div class="row">
    <div class="result">
      <a href="https://elections2018.news.baltimoresun.com/results/" target="_blank">All race results >> </a>
      <h1 class="{{ .Party }}">{{ .Name }}</h1>
      <table>
        {{ range .Options }}
          {{ $titlecase := .Text | titlecase }}
          {{ $truncated := $titlecase | truncateAt " and " }}
          <tr class="{{ if .FrontRunner }} frontrunner{{ end }}">
            <td class="candidate name">{{- $truncated -}}</td>
            <td class="votes">{{ .TotalVotes | commas }} votes</td>
          </tr>
        {{ end }}
      </table>
    </div>
  </div>
</div>
