<style type="text/css">
body {
  font-family: sans-serif;
}
.race {
  padding: 0 10px 0 10px;
}
.race h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: bolder;
  border-bottom: 3px solid #d0d0d0;
}
.race h1 {
  border-bottom: 3px solid #551033;
}
.race a {
  float: right;
  color: black;
  font-size: 0.75rem;
}

.race table {
  border-collapse: collapse;
  width: 100%;
}

.race td {
  white-space: nowrap;
  color: #667682;
  padding: 2px;
}

.race td.candidate {
  width: 40%;
}

.race td.party {
  width: 15%;
}

.race td.votes {
  width: 20%;
}
.race td.name {
  font-weight: bold;
}

.race td {
  font-size: 0.8rem;
  border-bottom: 1px dashed #cdcdcd;
}
.frontrunner {
  background-color: #efeeee;
}
@media (max-width: 750px) {
  .race td.candidate {
  width: 59%;
}
  .race td.votes {
    width: 39%;
  }
}

.percent-bar-bg {
  width: 80%;
  background: #cdcdcd;
  height: 20px;
  float: left;
  @media (max-width: 600px) {
    display: none;
  }
}

.percent-bar {
  background: #667682;
  height: 20px;
  @media (max-width: 600px) {
    display: none;
  }
}

.Democrat .percent-bar {
  background-color: #2e98cc;
}

.Green .percent-bar {
  background-color: #00a967;
}

.Republican .percent-bar {
  background-color: #ed4227;
}

.Libertarian .percent-bar {
  background-color: #d5bc46;
}
</style>

<div class="race">
  <div class="row">
    <div class="result">
      <a href="https://elections2018.news.baltimoresun.com/results/" target="_blank">All race results >> </a>
      <h1>{{ .Name }}</h1>
      <table>
        {{ range .Options }}
          {{ $titlecase := .Text | titlecase }}
          {{ $truncated := $titlecase | truncateAt " and " }}
          <tr class="{{ .Party }} {{ if .FrontRunner }}frontrunner{{ end }}">
            <td class="candidate name">{{ $truncated }}</td>
            <td class="party">{{ .Party }}</td>
            <td class="votes">{{ .TotalVotes | commas }} votes</td>
            <td class="percent">
              <div class="percent-bar-bg">
                <div class="percent-bar" style='width: {{ .PercentageVotes | printf "%.1f" }}%'></div>
              </div>
            </td>
          </tr>
        {{ end }}
      </table>
    </div>
  </div>
</div>
