<style type="text/css">
body {
  font-family: sans-serif;
}
.race h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: bolder;
  border-bottom: 3px solid #d0d0d0;
}
.race h1.Democrat {
  border-bottom: 3px solid #2e98cc;
}
.race h1.Republican {
  border-bottom: 3px solid #ed4227;
}
.race table {
  width: 100%;
}

.race th {
  font-weight: normal;
  word-break: break-word;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.6rem;
}

.race td.candidate {
  width: 50%;
  color: #667682;
}
.race td.votes {
  width: 25%;
  color: #667682;
}
.race td.name {
  font-weight: bold;
}

.race td {
  font-size: 0.8rem;
  border-bottom: 1px dashed #cdcdcd;
}
.race .result {
  width: 90%;
  padding: 10px;
}
.frontrunner {
  background-color: #efeeee;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .race table,
  .race thead,
  .race tbody,
  .race th,
  .race td,
  .race tr {
    display: block;
  }
  .race td.votes,
  .race td.candidate {
    width: 100%;
  }
  .race tr {
    border-bottom: 1px dashed #cdcdcd;
  }

  .race td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: none;
    position: relative;
  }

  .race td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
</style>

<div class="race">
  <div class="row">
    <div class="result">
      <h1 class="{{ .Party }}">{{ .Name }}</h1>
      <table>
        {{ range .Options }}
          {{ $titlecase := .Text | titlecase }}
          {{ $truncated := $titlecase | truncateAt " and " }}
          <tr class="{{ if .FrontRunner }} frontrunner{{ end }}">
            <td class="candidate name">{{- $truncated -}}</td>
            <td class="votes">{{ .TotalVotes | commas }} votes</td>
          </tr>
        {{ end }}
      </table>
    </div>
  </div>
</div>
