<div class="race" data-boe-update='{{ .LastUpdate.Format "3:04pm Jan. 2, 2006" }}'>
    {{ if ne .District "State of Maryland" }}
    <div class="sub-header">{{ .District }}</div>
    {{ end }}
    <h3 class="section-header">{{ .Contest }}</h3>
    {{ if ne .Jurisdiction "State of Maryland" }}
    <div>Jurisdiction: {{ .Jurisdiction }}</div>
    {{ end }}
    {{ if ne (lowerAlpha .Party) "nonpartisan" }}
    <div class="party-header {{ .Party }}">{{ .Party }}</div>
    {{ end }}
    {{ if gt .VoteFor 1 }}
    <div>VoteFor: {{ .VoteFor }}</div>
    {{ end }}
    {{ $contestParty := .Party }}
    <table>
        <thead>
            <th>Candidate</th>
            {{ if and (ne (lowerAlpha .Party) "nonpartisan") (ne .Party $contestParty) }}<th>Party</th>{{ end }}
            <th>Votes</th>
            <th>Percentage</th>
        </thead>
        {{ range .Options }}
        <tr>
            <td class="candidate name">{{ .Text }}{{ if .FrontRunner }}✔{{ end }}</td>
            {{ if and (ne (lowerAlpha .Party) "nonpartisan") (ne .Party $contestParty) }}
            <td class="party-col">{{ .Party }}</td>
            {{ end }}
            <td class="votes">{{ .TotalVotes | commas }}</td>
            <td class="percent">
                <div class="percent-bar-bg">
                    <div class="percent-bar cand{{ .Party }}" style='width: {{ .PercentageVotes | printf "%.1f" }}%'></div>
                </div>
                <div class="vote-percent">{{ .PercentageVotes | printf "%.1f" }}%</div>
            </td>
        </tr>
        {{ end }}
    </table>
    <div>{{ .TotalVotes | commas }} votes counted ({{ .PercentCounted }}% ) | {{ .PrecinctsReporting }} out of {{ .TotalPrecincts }} precincts reporting</div>
    {{ if gt (len .SubResults) 1 }}
    <button class="view-hide" onclick="app.results_toggle();">View results by district</button>
    <table class="districts-results hidden">
        <thead>
            <tr>
                <th>Jurisdiction</th>
                <th>District</th>
                <th>Precincts Reporting/&#32;Total Precincts</th>
                <th>Percent Counted</th>
                 {{ range .Options }}
                    <th>{{ .Text }}</th>
                 {{ end }}
            </tr>
        </thead>
        <tbody>
        {{ range .SubResults }}
        {{ if and (ne .Jurisdiction "State of Maryland") (ne .District "State of Maryland") }}
        <tr>
            <td>{{ .Jurisdiction }}</td>
            <td>{{ .District }}</td>
            <td>{{ .PrecinctsReporting }}/{{ .TotalPrecincts }}</td>
            <td>{{ .PercentCounted }}</td>
            {{ range .Options }}
                <td>
                    {{ .TotalVotes | commas }}
                </td>
            {{ end }}
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
