{{ $gov := index . 7263 }}
{{ $ag := index . 7265 }}
{{ $bce := index . 7391 }}

<p>
  <i>Results as of {{ $gov.LastUpdate.Format "3:04pm Jan. 2, 2006" }}</i>
</p>

<h3>Governor</h3>

{{ block "story-results" $gov }}
  <p>
    {{ range .Options }}
      &middot;
      {{ .Text | titlecase }}: {{ .TotalVotes | commas }} votes,
      {{ .PercentageVotes | printf "%.1f" }}%
      <br>
    {{ end }}
  </p>
  <p>
    <i>
      {{ .TotalVotes | commas }} votes counted ({{ .PercentCounted }}% )
      {{ .PrecinctsReporting }} out of {{ .TotalPrecincts }} precincts reporting
    </i>
  </p>
{{ end }}

<h3>Attorney General</h3>

{{ template "story-results" $ag }}

<h3>Baltimore County Executive</h3>

{{ template "story-results" $bce }}

<hr>

<p>
  See more detailed results
  <a href="https://elections2018.news.baltimoresun.com/results/">at
  our 2018 election site</a>.
</p>
