.sticky {
  background-color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }

  & + .content {
    padding-top: 102px;
  }
}

.frontrunner {
  background-color: #efeeee;
}

.national-results {
  .content {
    padding: 1rem;
  }

  .content a {
    color: #2e98cc;
  }

  .tier-widget iframe {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 1170px;
    min-height: 320px;
    width: 97.5%;
  }

  iframe.ap-embed {
    height: 800px;
  }
}

.results-nav {
  margin-top: 20px;

  .dropdown-menu li a {
    white-space: inherit;
  }
  .small-padding {
    @media (max-width: 600px) {
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  .results-item {
    background-color: #667682;
    color: white;
    text-transform: uppercase;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 1em;
      padding: 10px 3px 10px 4px;
    }

    &:hover,
    &:hover:active {
      background-color: #818e98;
    }
  }

  a.results-item:hover,
  a.results-item:active {
    text-decoration: none;
  }
}

.race {
  margin: 20px 0 20px 0;
}
.race table {
  width: 100%;
}

.race th {
  font-weight: normal;
  word-break: break-word;
}

.race td.candidate,
.race th.candidate {
  width: 35%;
  @media (max-width: 900px) {
    padding-right: 0.5rem;
  }
  @media (max-width: 600px) {
    width: 40%;
    padding-right: 0.5rem;
  }
}

.race td.party-col,
.race th.party-col {
  width: 10%;
  color: #667682;

  @media (max-width: 600px) {
    display: none;
  }
}

.race .small-party {
  display: none;

  @media (max-width: 600px) {
    display: inline;
  }
}

.race td.votes,
.race th.votes {
  width: 15%;
  color: #667682;
  padding-left: 0.7rem;
  @media (max-width: 600px) {
    width: 20%;
  }
}

.race td.percent,
.race th.percent {
  width: 50%;
  color: #667682;
  @media (max-width: 600px) {
    width: 30%;
  }
}
.race th.percent {
  white-space: nowrap;
}
.race td.name {
  font-weight: bold;
}

.race td {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dashed #cdcdcd;
}

.percent-bar-bg {
  width: 80%;
  background: #cdcdcd;
  height: 20px;
  float: left;
  @media (max-width: 600px) {
    display: none;
  }
}

.percent-bar {
  background: #667682;
  height: 20px;
  @media (max-width: 600px) {
    display: none;
  }
}

.vote-percent {
  float: left;
  padding-left: 10px;
}

.update {
  display: none;
  color: #ed4227;
  font-size: 0.75em;
}

.results-header {
  font-family: brandon, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  background-color: #f6f6f6;
  padding: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
}

.race .section-header {
  padding-left: 0;
  margin-top: 0;
}

button.view-hide {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 0 5px 5px 5px;
}

.find-results {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.district-results {
  display: none; // Overrides on button push
  max-width: 100%;
  overflow-x: scroll;
  margin-top: 15px;

  [title] {
    cursor: help;
  }

  .show-district-results & {
    display: block;
  }

  th {
    vertical-align: bottom;
    text-align: left;
    padding-left: 0.5em;
  }

  th:nth-child(even),
  td:nth-child(even) {
    background-color: #f6f6f6;
  }

  .fixed {
    width: 10rem;
    padding-left: 0.5em;
  }

  .numeric {
    text-align: left;
    padding-left: 0.5em;
  }

  @media (max-width: 600px) {
    th {
      display: none;
    }

    td {
      display: block;
      text-align: left !important;
    }
    td:nth-child(even) {
      background-color: inherit;
    }

    td:before {
      content: attr(data-col)": ";
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f6f6f6;
    }

    .fixed {
      width: 100%;
    }
  }
}

.js-select2 {
  width: 100%;
}

.results-page p {
  a,
  a:active,
  a:visited {
    color: #2e98cc;
  }
}

.results-map {
  display: grid;
  grid-gap: 1.5% 10px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;

  @media (max-width: 700px) {
    display: block;
  }
  .county-map {
    max-width: 500px;
    grid-column-start: 1;
    grid-column-end: 5;
    @media (max-width: 830px) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  svg {
    path {
      fill: #667682;
      stroke: white;
    }

    .democrat {
      fill: #2e98cc;
    }

    .green {
      fill: #00a967;
    }

    .republican {
      fill: #ed4227;
    }

    .libertarian {
      fill: #d5bc46;
    }

    path:hover {
      opacity: 0.6;
    }
  }
  .county-box {
    grid-column-start: 5;
    grid-column-end: 7;
    text-align: center;
    @media (max-width: 830px) {
      grid-column-start: 4;
      grid-column-end: 7;
    }
  }
  .district-info {
    // Hide the district info map boxes until hovered
    display: none;

    .district-name {
      text-transform: uppercase;
      color: #667682;
      font-size: 1.5em;
      @media (max-width: 700px) {
        font-size: 1.1em;
      }
    }
  }

  [data-show-district="3"] & .district-3,
  [data-show-district="4"] & .district-4,
  [data-show-district="5"] & .district-5,
  [data-show-district="6"] & .district-6,
  [data-show-district="7"] & .district-7,
  [data-show-district="8"] & .district-8,
  [data-show-district="9"] & .district-9,
  [data-show-district="10"] & .district-10,
  [data-show-district="11"] & .district-11,
  [data-show-district="12"] & .district-12,
  [data-show-district="13"] & .district-13,
  [data-show-district="14"] & .district-14,
  [data-show-district="15"] & .district-15,
  [data-show-district="16"] & .district-16,
  [data-show-district="17"] & .district-17,
  [data-show-district="18"] & .district-18,
  [data-show-district="19"] & .district-19,
  [data-show-district="20"] & .district-20,
  [data-show-district="21"] & .district-21,
  [data-show-district="22"] & .district-22,
  [data-show-district="23"] & .district-23,
  [data-show-district="24"] & .district-24,
  [data-show-district="25"] & .district-25,
  [data-show-district="26"] & .district-26 {
    display: block;
  }
}
