<!doctype html>
<html lang="en">
 <head>
  <!-- Basic Page Needs
      ================================================== -->
  <meta charset="utf-8">
  <title>{{block "title" . }}{{.Title}} | {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href='{{ dict "Site" .Site "Value" "css/app.css" | partial "assets.html" }}'>
  <!-- Javascript -->
  <script src='{{ partial "assets.html" (dict "Site" .Site "Value" "scripts/jquery-1.10.2.min.js") }}'></script>
  <script src='{{ partial "assets.html" (dict "Site" .Site "Value" "scripts/jquery.easing.1.3.js") }}'></script>
  <script src='{{ partial "assets.html" (dict "Site" .Site "Value" "scripts/javascript.js") }}'></script>
  <script src='{{ partial "assets.html" (dict "Site" .Site "Value" "scripts/jquery.scrollTo.min.js") }}'></script>
  <script src='{{ partial "assets.html" (dict "Site" .Site "Value" "scripts/bootstrap.js") }}'></script>
  {{ partial "ad-scripts.html" . }}
  {{ block "extra-head" . }}{{ end }}

  {{ block "metadata" . }}
  <link rel="icon" href='{{ dict "Site" .Site "Value" (.Param "icon") | partial "assets.html" }}'>
  <link rel="apple-touch-icon" href='{{ dict "Site" .Site "Value" (.Param "icon") | partial "assets.html" }}'>
  <!-- Google stuff -->
  <meta name="robots" content="index,follow">
  <link rel="canonical" href="{{ .Page.URL | absURL }}">
  <!-- Facebook stuff -->
  {{ $.Scratch.Set "fb-image" (.Param "icon") }}
  {{ $.Scratch.Set "tw-image" (.Param "image") }}
  {{ $imageJPG := printf "images/candidates/%s.jpg" .Page.File.BaseFileName }}
  {{ if fileExists (printf "static/%s" $imageJPG) }}
      {{ $.Scratch.Set "fb-image" $imageJPG }}
      {{ $.Scratch.Set "tw-image" $imageJPG }}
  {{ end }}
  {{ $imagePNG := printf "images/candidates/%s.png" .Page.File.BaseFileName }}
  {{ if fileExists (printf "static/%s" $imagePNG) }}
      {{ $.Scratch.Set "fb-image" $imagePNG }}
      {{ $.Scratch.Set "tw-image" $imagePNG }}
  {{ end }}
  {{ $imageFB := $.Scratch.Get "fb-image" }}
  {{ $imageTW := $.Scratch.Get "tw-image" }}

  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="Baltimore Sun">
  <meta property="fb:app_id" content="310302989040998">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:url" content="{{ .Page.URL | absURL }}">
  <meta property="og:site_name" content="{{.Site.Title}}">
  <meta property="og:description" content="{{ .Summary }}">
  <meta property="og:image" content='{{ dict "Site" .Site "Value" $imageFB | partial "assets.html" }}'>
  <!-- /Facebook Stuff -->
  <!-- TWITTER STUFF -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@baltimoresun">
  <meta name="twitter:creator" content="Baltimore Sun Data Desk">
  <meta name="twitter:title" content="Baltimore Sun Maryland Voter Guide {{.Site.Params.Year}}">
  <meta name="twitter:description" content='{{ .Site.Param "defaultsharetext" }}'>
  <meta name="twitter:image" content='{{ dict "Site" .Site "Value" $imageTW | partial "assets.html" }}'>
  <meta name="twitter:domain" content="baltimoresun.com">

  <!-- Baltimore Sun Omniture -->
  {{ $.Scratch.Set "pageName" (.Param "omniture-page-name") }}
  {{ if (eq .Kind "page") }}
    {{ $.Scratch.Add "pageName" (printf ":%s." (.Title | lower | urlize))}}
  {{ else }}
    {{ $.Scratch.Add "pageName" (printf ":%s." .Kind) }}
  {{ end}}
  <script>
  (
    ((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})
  ).thirdparty = {
    pageName: '{{$.Scratch.Get "pageName"}}',
    channel: '{{.Param "omniture-channel"}}',
    server: '{{.Param "omniture-server"}}',
    hier1: 'baltimoresun:{{.Param "omniture-channel"}}',
    hier2: '{{.Param "omniture-channel"}}',
    prop1: "D=pageName",
    prop2: "news",
    prop38: "dataproject",
    prop57: "D=c38",
    eVar20: "baltimoresun",
    eVar21: "D=c38",
    eVar34: "D=ch",
    eVar35: "D=pageName",
    events: ""
  };
  </script>
  <!-- /Baltimore Sun Omniture -->
  <!--omniture call-->
  <script src="//www.baltimoresun.com/thirdpartyservice?disablenav=true&amp;disablessor=true" async>
  </script>
  {{ end }}
  {{ .Hugo.Generator }}
 </head>
 <body>
  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{ end }}
  {{ block "main" . }}{{ end }}
  {{ block "subscribe" . }}
    {{ partial "subscribe.html" . }}
  {{ end }}
  {{ block "ad" . }}
    {{ partial "ad-leaderboard.html" . }}
  {{ end }}
  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
  {{ block "extra-footer" . }}{{ end }}
 </body>
</html>
