{{ define "extra-head" }}
<script>
  $(document).ready(function(){
    $(".js-filter-party").on('click', function(e) {
      var party = $(e.target).data('party-toggle');
      if (party === "all") {
        $("#choosePartyText").empty();
        $("#choosePartyText").text("Choose Party");
        $(".js-party-group").show();
      } else {
        $(".js-party-group").hide();
        $(".js-party-" + party).show();
        $("#choosePartyText").empty();
        $("#choosePartyText").text(party);
      }
    });
  });
</script>
{{ end }}

{{ define "main" }}
  <div id="state-races" class="splash-container">
   <h1 class="section-header-splash grey">
    {{ block "breadcrumbnav" (dict "p1" . "p2" .) }}
      {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
      {{ end }}
      {{ if .p1.IsHome|not }}
        {{ if eq .p1 .p2 }}
          {{ .p1.Param "shorttitle" | default .p1.Title }}
        {{ else }}
        <a class="page-header-link" href="{{ .p1.Permalink }}">
          {{- .p1.Param "shorttitle" | default .p1.Title -}}
        </a>
        {{ end }}
      {{ end }}
    {{ end }}
   </h1>
   <div class="btn-group col-md-12 col-sm-12 col-xs-12" id="testing" style="width:300px;">
    <button class="btn btn-primary btn-lg dropdown-toggle" id="chooseDistrict" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span id="choosePartyText">
      Choose party
     </span>
     <span class="caret">
     </span>
    </button>
    <ul class="dropdown-menu">
     <!-- choose race district -->
     {{ range .CurrentSection.Pages.GroupByParam "party" }}
     <li class="js-filter-party" data-party-toggle="{{ .Key | pluralize }}">
      {{ .Key | pluralize }}
     </li>
     {{ end }}
     <li class="js-filter-party" data-party-toggle="all">
      See all
     </li>
    </ul>
   </div>

   {{ range .CurrentSection.Pages.GroupByParam "party" }}
   <div class="js-party-group js-party-{{ .Key | pluralize }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="party-header {{.Key|lower}}">
      {{ .Key | pluralize }}
     </div>
    </div>
    {{ range .Pages }}
    <div class="col-md-6 col-sm-6 col-xs-6">
     <a href="{{.URL}}" class="btn btn-primary btn-lg district-button">
      {{ .Title }}
     </a>
    </div>
    {{ end }}
   </div>
   {{ end }}
  </div>
  <!-- END GOV LISTINGS -->
  <div class="clear-splash">
  </div>

  {{ partial "ad-leaderboard.html" . }}
{{ end }}
