{{ define "main" }}
  {{ $imageJPG := printf "images/candidates/%s.jpg" .Page.File.BaseFileName }}
  {{ if fileExists (printf "static/%s" $imageJPG) }}
      {{ $.Scratch.Set "image" $imageJPG }}
  {{ end }}
  {{ $imagePNG := printf "images/candidates/%s.png" .Page.File.BaseFileName }}
  {{ if fileExists (printf "static/%s" $imagePNG) }}
      {{ $.Scratch.Set "image" $imagePNG }}
  {{ end }}
  {{ $image := $.Scratch.Get "image" }}

  {{ partial "ad-leaderboard.html" . }}

  <div id="page-header">
   <div class="text">
    <span class="icon-star"></span>
    <span class="icon-star mobile-hide"></span>
    {{ block "breadcrumbnav" (dict "p1" . "p2" .) }}
    {{ if .p1.Parent }}
      {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
    {{ end }}
      <span class="crumb {{ if eq .p1 .p2 }}active-pg{{ end }} {{ if .p1.IsHome }}home-pg{{ end }}">
        <a class="page-header-link" href="{{ .p1.Permalink }}">{{ .p1.Param "shorttitle" | default .p1.Title }}</a>
        <span class="icon-star"></span>
        <span class="icon-star mobile-hide"></span>
      </span>
    {{ end }}
   </div>
  </div>

  <!-- social icons-->
  <div class="container {{ .Params.party | lower }}-color">
   <section id="top" class="group">
    <div id="cand-bio" class="span-60 left">
    {{ if $image }}
     <div id="cand-pic">
      <img
        src='{{ dict "Site" .Site "Value" $image | partial "assets.html" }}'
        class="cand-pic {{ .Params.party | lower }}">
     </div>
    {{ end }}
     <div id="cand-bio-text">
      <div id="cand-name" class='{{ if .Param "endorsement"}}endorsed-name{{ end }}'>
        {{ .Param "full-name" }}
      </div>
      {{ if .Param "endorsement"}}
        <div class="endorsement"><img src='{{ dict "Site" .Site "Value" "images/endorsement-small.svg"| partial "assets.html" }}'></div>
      {{ end }}
      <div id="cand-details">
        <div class="social-icons candidate-page">
          <span class="icon-facebook js-click">
          </span>
          <span class="icon-twitter js-click" data-share-text="Learn more about {{.Title}} in the Baltimore Sun Voter Guide:">
          </span>
        </div>
       <ul>
        <li id="party" class="{{ .Params.party | lower }}-color">
          {{ .Params.party }}
        </li>
        {{ range .Site.Data.metadata.singlePageParams }}
        {{ if $.Param .key }}
        <li>
         <span class="key">{{ .display }}:</span>
         <span class="value">{{ $.Param .key}}</span>
        </li>
        {{ end }}
        {{ end }}
       </ul>
       {{ if isset .Params "survey-response" }}
         {{ if .Param "survey-response" | eq "SUSPENDED" }}
          <p>
           This candidate has suspended their campaign.
          </p>
         {{ end }}
         {{ if .Param "survey-response" | not }}
          <p>
           This candidate did not respond to <i>The Sun</i>’s editorial questionnaire.
          </p>
         {{ end }}
       {{ end }}
      </div>
     </div>
    </div>
    <!-- /cand-bio -->
    <div id="inline-nav" class="mobile">
     <div class="nav-item" data-section="bio">
      <span class="icon-bio">
      </span>
      <div class="nav-label">
       BIO
      </div>
     </div>
     <div class="nav-item" data-section="questionnaire">
      <span class="icon-list">
      </span>
      <div class="nav-label">
       Q&amp;A
      </div>
     </div>
     <div class="nav-item" data-section="news">
      <span class="icon-news">
      </span>
      <div class="nav-label">
       COVERAGE
      </div>
     </div>
    </div>
    <div id="all-candidates" class="span-40 right">
    <!-- TODO -->
     <!-- Democrat candidate navigation -->
     {{ range .CurrentSection.Pages.GroupByParam "party" }}
     <div class="candidate-{{.Key | lower }} candidates-list span-70 center">
      {{ $adjective := dict "Democrat" "Democratic" }}
      <div class="list-label general">
       {{ default .Key (index $adjective .Key) }} Candidates:
      </div>
      <ul>
        {{ range .Pages }}
       <li>
        <a href="{{.URL}}">{{.Title}}</a>
       </li>
       {{ end }}
      </ul>
      <div id="all-candidates-toggle-button" class="u-none">
       + SHOW MORE
      </div>
     </div>
     <!-- / Democrat candidate navigation -->
     {{end}}
    </div>
    <!-- /all-candidates dem -->
   </section>
   <!-- /top section -->
  </div>
  <!-- /container -->
  <nav>
   <div id="nav-photo">
    {{ if $image }}
    <img src='{{ dict "Site" $.Site "Value" $image | partial "assets.html" }}' class="nav-photo">
    {{ end }}
   </div>
   <div class="nav-item small" data-section="bio">
    <span class="icon-bio">
    </span>
    <div class="nav-label">
     BIO
    </div>
   </div>
   <div class="nav-item small" data-section="questionnaire">
    <span class="icon-list">
    </span>
    <div class="nav-label">
     Q&amp;A
    </div>
   </div>
   <div class="nav-item small" data-section="news">
    <span class="icon-news">
    </span>
    <div class="nav-label">
     COVERAGE
    </div>
   </div>
  </nav>
  <div id="inline-nav" class="desktop">
   <div class="nav-item" data-section="bio">
    <span class="icon-bio">
    </span>
    <div class="nav-label">
     BIO
    </div>
   </div>
   <div class="nav-item" data-section="questionnaire">
    <span class="icon-list">
    </span>
    <div class="nav-label">
     Q&amp;A
    </div>
   </div>
   <div class="nav-item" data-section="news">
    <span class="icon-news">
    </span>
    <div class="nav-label">
     COVERAGE
    </div>
   </div>
  </div>
  <div class="container">
   <section id="bio">
    <header class="section-header {{.Params.party | lower }}">
      About {{ .Param "last-name" }}
    </header>
    <div class="group">
     {{ with .Params.background }}
     <div id="bio-text" class="span-60 left">
      {{ markdownify . }}
     </div>
     {{ end }}
     <div id="social" class="span-40 right {{.Params.party | lower }}">
      <ul>
       {{ with .Param "web" }}
       <li>
        <a href="{{ . }}" class="website-link" target="_blank">
          <span class="icon-globe"></span>
          {{ replace (replace . "http://" "") "https://" "" }}
        </a>
       </li>
       {{ end }}
       {{ with .Param "social-tw" }}
       <li>
        <a href="https://twitter.com/{{.}}" class="twitter-link" target="_blank">
          <span class="icon-twitter"></span>
          @{{ . | strings.TrimSuffix "/" }}
        </a>
       </li>
       {{ end }}
       {{ with .Param "social-ig" }}
       <li>
        <a href="https://instagram.com/{{ . }}" target="_blank">
          <span class="icon-instagram">
            {{- partial "svg/instagram.svg" . -}}
          </span>
          {{ . | strings.TrimSuffix "/" }}
        </a>
       </li>
       {{ end }}
       {{ with .Param "social-fb" }}
       <li>
        <a href='https://facebook.com/{{ . }}' class="facebook-link" target="_blank">
          <span class="icon-facebook"></span>
          {{ . | strings.TrimSuffix "/" }}
        </a>
       </li>
       {{ end }}
      </ul>
     </div>
    </div>
   </section>
   <!-- /bio -->
   <section id="questionnaire" class="group {{.Params.party | lower }}">
    <header class="section-header {{.Params.party | lower }}">
     Questionnaire
    </header>
    {{ if not .Params.questions }}
    <div id="message">
     <br>
     <p>
      This candidate did not respond to <i>The Sun</i>’s editorial questionnaire.
     </p>
     <br>
     <br>
    </div>
    {{ else }}
    <div id="questionnaire-candidate">
     <!--&lt;div class=&#34;header-underline&#34;&gt;&lt;/div&gt;-->
     <div id="questionnaire-nav">
      <div>
       Jump to:
      </div>
      <ul>
       {{ range $i, $question := .Params.questions }}
       <li data-subject="{{$question.shortname}}">
        <a href="#question-{{ add $i 1 }}">
         {{add $i 1}}
        </a>
       </li>
       {{ end }}
      </ul>
     </div>
     {{ $candidateLastName := .Param "last-name" }}
     {{ range $i, $question := .Params.questions }}
     <div id="question-{{ add $i 1 }}" class="question span-70 left">
      <header class="question-header">
       <div class="question-num">
        {{ add $i 1 }}
       </div>
       {{$question.shortname}}
      </header>
      <div class="question-text">
        {{$question.question}}
      </div>
      <div class="answer">
       <div class="first-para">
        {{ markdownify (print "<span class='speaker'>" $candidateLastName "</span>: " $question.answer) }}
       </div>
       {{ with index $question "supplemental_answer" }}
       <div class="other-paras">
        {{ . }}
       </div>
       {{ end }}
       <div class="answer-social" data-num="{{$i}}">
        SHARE THIS ANSWER
        <span class="icon-twitter js-click" data-share-text='{{ $candidateLastName }}: "{{ $question.answer }}"'>
        </span>
        <span class="icon-facebook js-click">
        </span>
       </div>
      </div>
      <!-- /answer -->
     </div>
     {{ end }}
     <!-- /questionnaire-->
    </div>
    {{ end }}
   </section>
   <!-- /questionnaire -->

   <div class="group">
    <section id="news" class="span-65 left">
     <header class="section-header {{.Params.party | lower }}">
      Election Coverage
     </header>

     {{ partial "coverage.html" . }}
    </section>

    {{ partial "ad-rightrail.html" . }}
   </div>

  </div>

  <!-- Page loading scripts -->
  <script type="text/javascript">
    $(document).ready(function(){
      app.toggle_fixed_nav();
    });
  </script>
{{ end }}
