/******** SITE STYLES ********** */

header.section-header {
  font-size: 1.8em; }


.page-header {
  margin-top: 10px;
  text-align: center;
  font-family: Adelle, serif;
  font-size: 16px;
  position: relative;
  color: #333333;
  letter-spacing: 0.09em; }
  .page-header div {
    display: inline-block;
    background-color: white;
    position: relative;
    padding: 10px 20px; }
  .page-header:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 50%;
    width: 100%;
    height: 2px;
    background-color: #dadada; }

.splash-buttons {
  text-align: center;
  padding: 70px 0 70px 0; }

.splash-buttons-small {
  text-align: center;
  padding: 20px 0 20px 0;}  

.splash-section {
  margin-top: 30px; }
  .splash-section header {
    margin-bottom: 20px; 
    clear: both;}

#btn-nav-bottom {
  margin-top: 50px;}

#aa.nav-item.state {
  top:13px; }  

#general-assembly, #congress, #local, #bills {
  margin-bottom: 50px; }

.divider {
  height: 1px;
  background-color: darkgrey;
  margin-bottom: 20px; }

p {
  font-family: Georgia, Times New Roman, serif;
  margin: 10px 0px;
  font-size: 16px;
  line-height: 120%; }

.emphasis {
  font-weight: bold;
  margin-bottom: 30px; }
  .emphasis.blue {
    color: #104e8b; }
  .emphasis.red {
    color: #c62020; }
  .emphasis.black {
    color: #000000; }

.label {
  margin-top: -43px;
  font-family: Adelle, Georgia, Times New Roman, serif;
  font-size: 1.1em}

section#ag.splash-section {
  padding-bottom: 50px;}  

#brown.candidate-box {
  margin-top: 8px; }

#hogan.candidate-box {
  margin-top: 5px; }

#pritzker.candidate-box {
  margin-top: 14px; }

#dymowski.candidate-box {
  margin-top: 8px; }

.candidates-box {
  position: relative;
  margin: 20px 0px 0px 0px; }

.party-box {
  position: relative;
  display: inline-block;
  margin: 0px;
  vertical-align: top; }
  .party-box.single {
    width: 280px;
    text-align: center; }

.candidate-box {
  float: left;
  /*margin: 50px 5px 10px 15px;*/
  display: inline-block;
  text-align: center;
  width: 329px;
  /*height: 180px;*/
  vertical-align: top;
  position: relative; }
  .candidate-box img.pic {
    /*border-radius: 99px;*/
    cursor: pointer; }

  .candidate-box img.ribbon {
    /*border-radius: 99px;*/
    width: 310px;
    margin-top: -16px;
    cursor: pointer; }  
  .candidate-box a:link {
    color: #fff;
    text-decoration: none; }
  .candidate-box a:visited {
    color: #fff;
    text-decoration: none; }
  .candidate-box a:hover {
    color: #fff;
    text-decoration: none; }
  .candidate-box a:active {
    color: #fff;
    text-decoration: none; }
  .candidate-box a.full {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }

.candidate-box.deactivated:after {
  content: "Coming soon";
  color: #A9A9A9;
  font-style: italic;
  position: absolute;
  top: 105%;
  left: 0px;
  width: 100%;
}

.party-label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  font-family: Adelle, Georgia, Times New Roman, serif;
  text-align: center;
  padding: 5px 0px; }
  .party-label.dem {
    background-color: #104e8b; }
  .party-label.rep {
    background-color: #c62020; }
  .party-label.lib {
    background-color: #ffc801; }

.btn {
  display: inline-block;
  font-family: Adelle, Georgia, Times New Roman, serif;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 10px 20px; }
  .btn.blue {
    background-color: #104e8b; }
  .btn.red {
    background-color: #c62020; }
  .btn.deactivated {
    background-color: #f2f2f2;
    color: darkgrey;
    font-style: italic;
    cursor: default; }

@media only screen and (max-width: 1000px) {
  .party-box {
    float: none !important; } }
@media only screen and (max-width: 650px) {
  .candidate-box img.ribbon {
    display: none;}

  .candidate-box a:link {
    color: #333;
    text-decoration: none; }
  .candidate-box a:visited {
    color: #333;
    text-decoration: none; }
  .candidate-box a:hover {
    color: #333;
    text-decoration: none; }
  .candidate-box a:active {
    color: #333;
    text-decoration: none; }  

  .candidate-box img.pic.dem {
    border-bottom: 8px solid #104e8b;} 

  .candidate-box img.pic.rep {
    border-bottom: 8px solid #c62020;} 
    
  .candidate-box img.pic.lib {
    border-bottom: 8px solid #d5bc46;}   

  .splash-buttons {
    clear:both;}  

  .party-box {
    display: block; }
    .party-box.single {
      width: auto; }

  .candidate-box {
    display: block;
    text-align: left;
    margin: 15px 5px;
    width: auto;
    height: auto; }
    .candidate-box img {
      width: 70px;
      vertical-align: middle; }

  .label {
    display: inline; }

  .party-label {
    position: static; }

  .mobile-center {
    text-align: center; }

  .btn {
    margin: 10px 0px; } }
#bills p {
  margin: 20px;
  line-height: 150%; }

.bill {
  margin: 20px;
  padding: 10px;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
  font-size: 16px; }
  .bill ul {
    margin: 15px 0px 0px 25px;
    list-style: disc;
    padding: 0px; }
    .bill ul li {
      margin: 5px 0px; }
  .bill.red {
    border-left: 5px solid black;
    background-color: #f2f2f2; }
    .bill.red ul li a:link {
      color: #104e8b;
      text-decoration: none; }
    .bill.red ul li a:visited {
      color: #104e8b;
      text-decoration: none; }
    .bill.red ul li a:hover {
      color: #104e8b;
      text-decoration: none; }
    .bill.red ul li a:active {
      color: #104e8b;
      text-decoration: none; }
  .bill.blue {
    border-left: 5px solid #e0e0e0; }
    .bill.blue ul li a:link {
      color: #104e8b;
      text-decoration: none; }
    .bill.blue ul li a:visited {
      color: #104e8b;
      text-decoration: none; }
    .bill.blue ul li a:hover {
      color: #104e8b;
      text-decoration: none; }
    .bill.blue ul li a:active {
      color: #104e8b;
      text-decoration: none; }

#bill-nav ul li {
  margin: 5px; }

.bill-title {
  font-family: Adelle, Georgia, Times New Roman, serif;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 100%; }

#jump-to {
  margin-top: 30px;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
  padding-left: 30px;
  border-left: 1px solid #e0e0e0; }
  #jump-to ul li {
    padding: 8px 5px;
    margin: 0px; }
    #jump-to ul li:hover {
      background-color: #e0e0e0;
      cursor: pointer; }

#jump-header {
  font-family: Adelle, Georgia, Times New Roman, serif;
  padding: 10px;
  text-align: center;
  background-color: #c62020;
  color: white;
  margin-bottom: 10px; }

#lead-story a:link, .reg-story a:link {
  color: #0d1123;
  text-decoration: none; }
#lead-story a:visited, .reg-story a:visited {
  color: #0d1123;
  text-decoration: none; }
#lead-story a:hover, .reg-story a:hover {
  color: #0d1123;
  text-decoration: none; }
#lead-story a:active, .reg-story a:active {
  color: #0d1123;
  text-decoration: none; }
#lead-story a:hover, .reg-story a:hover {
  color: #144a7c; }

.reg-story {
  padding: 20px 0px;
  border-bottom: 1px solid #dadada;
  clear: both; }

.lead-image {
  float: left;
  margin: 0px 20px 20px 0px; }

.reg-image {
  float: right;
  margin: 0px 0px 20px 20px; }

.lead-head {
  font-family: Georgia, Times New Roman, serif;
  font-weight: bold;
  color: #0d1123;
  font-size: 3em;
  line-height: 1.2; }

.reg-head {
  font-family: Georgia, Times New Roman, serif;
  font-weight: bold;
  color: #0d1123;
  font-size: 1.2em;
  line-height: 1.2; }

.story-date {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 10px 0px; }

.lead-lede {
  font-family: Georgia, Times New Roman, serif;
  font-size: 1.5em;
  line-height: 1.5; }

.reg-lede {
  font-family: Georgia, Times New Roman, serif;
  font-size: 1.1em;
  line-height: 1.5; }

@media only screen and (max-width: 960px) {
  #cube-ad-container {
    display: none; }

  .span-65 {
    width: 90%; }

  .lead-image {
    width: 320px; } 

  .nav-item.state {
    margin: 6% 8%; } 
    #btn-nav-bottom {
    margin-top: 0px;} }
@media only screen and (max-width: 730) {
   .nav-item {
    margin: 0 8%; } }
@media only screen and (max-width: 550px) {
  .lead-image {
    width: 100%;
    float: none; } }
@media only screen and (max-width: 460px) {
  .lead-head {
    font-size: 2em; }

  .lead-lede {
    font-size: 1.1em; }

  .reg-image {
    float: none;
    width: 100%;
    display: block;
    margin: 10px auto 15px auto; } }
/**** CLEARFIX **** */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .group {
  zoom: 1; }

*:first-child + html .group {
  zoom: 1; }
