{{ $.Scratch.Add "leaderboard-id" 1 }}

<div class="leaderboard-ad">
 <!-- leaderboard ad-->
 <script type="text/javascript">
  googletag.cmd.push(function() {
    gptadslots.push(googletag.defineSlot('/4011/trb.baltimoresun/news', [[728,90]],'gpt-ad-{{ $.Scratch.Get "leaderboard-id" }}').setTargeting('pos',['1']).addService(googletag.pubads()));

    googletag.pubads().setTargeting('ptype',['s']);
    googletag.pubads().enableAsyncRendering();
    googletag.enableServices();
  });
 </script>
 <!-- End: GPT -->
 <!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[728,90]] -->
 <!-- Adslots refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
 <div id='gpt-ad-{{ $.Scratch.Get "leaderboard-id" }}' class="slot">
  <script type="text/javascript">
   googletag.cmd.push(function() { googletag.display('gpt-ad-{{ $.Scratch.Get "leaderboard-id" }}'); });
  </script>
 </div>
</div>
<!-- End AdSlot 1 -->
