<div id="cube-ad">
 <div id="ad-holder">
  <table class="cubeAd">
   <tbody>
    <tr>
     <td id="rightrail_ad_td" valign="middle">
      <script type="text/javascript">
       googletag.cmd.push(function() {
          gptadslots.push(googletag.defineSlot('/4011/trb.baltimoresun/news', [[300,250]],'div-gpt-ad-551902210151013328-1').setTargeting('pos',['1']).addService(googletag.pubads()));

          googletag.pubads().setTargeting('ptype',['s']);
          googletag.pubads().enableAsyncRendering();
          googletag.enableServices();
        });
      </script>
      <!-- End: GPT -->
      <!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[300,250]] -->
      <!-- Adslot&#39;s refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
      <div id="div-gpt-ad-551902210151013328-1">
       <script type="text/javascript">
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-551902210151013328-1'); });
       </script>
      </div>
      <!-- End AdSlot 1 -->
     </td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
