<h1 class="section-header-splash grey">
  All Candidates
</h1>
<!-- TODO: Searchamajig? -->
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Running for Position</th>
          <th>Party Affiliation</th>
        </tr>
      </thead>
      <tbody>
        {{ $inSection := where .Site.Pages "Section" .Section }}
        {{ $pagesInSection := where $inSection "Kind" "page" }}
        {{ range sort $pagesInSection ".URL" }}
        <tr>
          <td>
            <a href="{{ .URL }}">{{ .Title }}</a>
          </td>
          <td>
            <a href="{{ .CurrentSection.URL }}">{{ .Parent.Title }}</a>
          </td>
          <td>{{ .Param "party" }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
