  <div data-trb-thirdpartynav="">
  </div>
  <header id="top-bar">
   <!--tophat-->
   <div id="top-bar-content">
    <div id="mobile-nav">
     <span class="icon-menu"></span>
     <span class="text">SECTIONS</span>
    </div>
    <div id="mobile-nav-drop">
     <ul class="nav-links">
      {{ range .Site.Menus.main }}
      <li>
       <a href="{{ .URL }}" class="u-upper">
        {{ .Name }}
       </a>
      </li>
      {{ end }}
     </ul>
    </div>
    <div id="star-and-logo">
     <div class="election-center-logo blue">
      <a class="full" href="{{.Site.BaseURL}}">
      </a>
      VOTER
     </div>
     <div id="top-bar-star">
      <a class="full" href="{{.Site.BaseURL}}">
       &nbsp;
      </a>
      <span class="icon-star">
      </span>
     </div>
     <div class="election-center-logo red">
      <a class="full" href="{{.Site.BaseURL}}">
      </a>
      GUIDE
     </div>
    </div>
    <div id="top-nav">
     <ul class="nav-links">
     </ul>
    </div>
    <a href="http://www.baltimoresun.com">
     <img border="0" id="top-sun-logo" src='{{ dict "Site" $.Site "Value" "images/header-sun-logo.png" | partial "assets.html" }}' width="190">
    </a>
   </div>
  </header>
