  <div data-trb-thirdpartynav="">
  </div>
  <div id="top-bar">
   <!--tophat-->
   <div id="top-bar-content">
    <div id="mobile-nav">
     <span class="icon-menu"></span>
     <span class="text">SECTIONS</span>
    </div>
    <div id="mobile-nav-drop">
     <ul class="nav-links">
     </ul>
    </div>
    <div id="star-and-logo">
     <div class="election-center-logo blue">
      <a class="full" href="{{.Site.BaseURL}}">
      </a>
      VOTER
     </div>
     <div id="top-bar-star">
      <a class="full" href="{{.Site.BaseURL}}">
      </a>
      <span class="icon-star">
      </span>
     </div>
     <div class="election-center-logo red">
      <a class="full" href="{{.Site.BaseURL}}">
      </a>
      GUIDE
     </div>
    </div>
    <div id="top-nav">
     <ul class="nav-links">
     </ul>
    </div>
    <a href="http://www.baltimoresun.com">
     <img border="0" id="top-sun-logo" src="{{.Site.BaseURL}}images/header-sun-logo.png" width="190">
    </a>
   </div>
  </div>
