{{ define "title" }}{{ .Title }}{{ end }}

{{ define "extra-head" }}
<script>
(function(){
  var showStatewide = true;

  $(document).ready(function(){
    $(".js-swap-race").on('click', function(){
        if (!showStatewide) {
          $("#local-races").hide();
          $("#local-button").removeClass("selected");
          $("#state-races").show();
          $("#state-button").addClass("selected");
          showStatewide = true;
        } else {
          $("#state-races").hide();
          $("#state-button").removeClass("selected");
          $("#local-races").show();
          $("#local-button").addClass("selected");
          showStatewide = false;
        }
    });
  });
})();
</script>
{{ end }}

{{ define "main" }}
  <div id="intro-block">
   <div id="page-header" class="splash">
    <!-- stars logo-->
    <div id="page-header-text" class="splash">
     <span class="icon-star mobile-hide">
     </span>
     <span class="icon-star">
     </span>
     MARYLAND VOTER GUIDE {{.Site.Params.Year}}
     <span class="icon-star">
     </span>
     <span class="icon-star mobile-hide">
     </span>
    </div>
   </div>
   <div id="social-icons">
    <span class="icon-facebook top">
    </span>
    <span class="icon-twitter top">
    </span>
   </div>
   <div id="splash-text">
    {{ .Content }}
   </div>
  </div>
  <div id="splash-buttons">
   <div class="btn-group">
    <div id="state-button" class="js-swap-race btn btn-primary btn-lg top-buttons selected" type="button">
     Fed &amp; State
    </div>
    <div class="btn-group">
     <div id="local-button" class="js-swap-race btn btn-primary btn-lg top-buttons" type="button">
      Local
     </div>
    </div>
   </div>
  </div>
  <!-- START STATE RACES -->
  <div id="state-races" class="splash-container">
   <h1 class="section-header-splash grey">
    FEDERAL &amp; STATE RACES
   </h1>
   {{ range .Site.Menus.fedState }}
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="{{.URL}}" class="btn btn-primary btn-lg district-button" type="button">
     {{ .Page.Params.altTitle }}
    </a>
   </div>
   {{ end }}
  </div>
  <!-- END STATE RACES -->
  <!-- START LOCAL RACES -->
  <div id="local-races" class="splash-container">
   <h1 class="section-header-splash grey">
    LOCAL
   </h1>
   {{ range .Site.Menus.local }}
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="{{.URL}}" class="btn btn-primary btn-lg district-button" type="button">
     {{ .Page.Params.altTitle }}
    </a>
   </div>
   {{ end }}
  </div>
  <!-- END LOCAL RACES -->
  <div class="clear-splash">
  </div>

  {{ partial "ad-leaderboard.html" . }}
{{ end }}
