{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
  <div class="intro-block">
   <div id="page-header" class="splash">
    <!-- stars logo-->
    <div class="text">
      <h1>
       <span class="icon-star mobile-hide">
       </span>
       <span class="icon-star">
       </span>
       MARYLAND VOTER GUIDE {{.Site.Params.Year}}
       <span class="icon-star">
       </span>
       <span class="icon-star mobile-hide">
       </span>
     </h1>
    </div>
   </div>
   <div class="content">
    {{ .Content }}
   </div>
  </div>
  <div class="toggle-buttons" class="col-xs-12">
   <div class="btn-group">
    <div id="fed-state-button" class="js-swap-race btn btn-primary btn-lg top-buttons selected" type="button">
     Fed &amp; State
    </div>
    <div id="local-button" class="js-swap-race btn btn-primary btn-lg top-buttons" type="button">
     Local
    </div>
   </div>
  </div>
  <!-- START STATE RACES -->
  <div id="swap-race" class="hide-local">
   <div class="splash-container fed-state-races">
    <h2 class="section-header-splash grey">
     FEDERAL &amp; STATE RACES
    </h2>
    {{ range .Site.Menus.fedState }}
    <div class="col-md-6 col-sm-6 col-xs-12">
     <a href="{{.URL}}" class="btn btn-primary btn-lg district-button" type="button">
      {{ .Page.Params.menuTitle | default .Page.Params.shortTitle }}
     </a>
    </div>
    {{ end }}
   </div>
   <!-- END STATE RACES -->
   <!-- START LOCAL RACES -->
   <div class="splash-container local-races">
    <h2 class="section-header-splash grey">
     LOCAL RACES
    </h2>
    {{ range .Site.Menus.local }}
    <div class="col-md-6 col-sm-6 col-xs-12">
     <a href="{{.URL}}" class="btn btn-primary btn-lg district-button" type="button">
      {{ .Page.Params.menuTitle | default .Page.Params.shortTitle }}
     </a>
    </div>
    {{ end }}
   </div>
  </div>
  <!-- END LOCAL RACES -->
  <div class="clear-splash">
  </div>

  <div id="news" class="container">
    <h2 class="section-header-splash grey">
      More Politics Coverage
    </h2>

    {{ partial "coverage.html" . }}
  </div>
{{ end }}
