{{ define "title" }}{{ .Title }}{{ end }}

{{ define "extra-head" }}
<script>
  $(document).ready(function(){
    $(".js-swap-race").on('click', function(){
        if ($("#local-races").is(":visible")) {
          $("#local-races").hide();
          $("#local-button").removeClass("selected");
          $("#state-races").show();
          $("#state-button").addClass("selected");
        } else {
          $("#state-races").hide();
          $("#state-button").removeClass("selected");
          $("#local-races").show();
          $("#local-button").addClass("selected");
        }
    });
  });
</script>
{{ end }}

{{ define "main" }}
  <div id="intro-block">
   <div id="page-header" class="splash">
    <!-- stars logo-->
    <div id="page-header-text" class="splash">
     <span class="icon-star mobile-hide">
     </span>
     <span class="icon-star">
     </span>
     MARYLAND VOTER GUIDE {{.Site.Params.Year}}
     <span class="icon-star">
     </span>
     <span class="icon-star mobile-hide">
     </span>
    </div>
   </div>
   <div id="social-icons">
    <span class="icon-facebook top">
    </span>
    <span class="icon-twitter top">
    </span>
   </div>
   <div id="splash-text">
    {{ .Content }}
   </div>
  </div>
  <div id="splash-buttons">
   <div class="btn-group">
    <div id="state-button" class="js-swap-race btn btn-primary btn-lg top-buttons selected" type="button">
     Fed &amp; State
    </div>
    <div class="btn-group">
     <div id="local-button" class="js-swap-race btn btn-primary btn-lg top-buttons" type="button">
      Local
     </div>
    </div>
   </div>
  </div>
  <!-- START STATE RACES -->
  <div id="state-races" class="splash-container">
   <h1 class="section-header-splash grey">
    FEDERAL &amp; STATE RACES
   </h1>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/governor/" class="btn btn-primary btn-lg district-button" type="button">
     Governor/Lt. Governor
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/comptroller/" class="btn btn-primary btn-lg district-button" type="button">
     Comptroller
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/attorney-general/" class="btn btn-primary btn-lg district-button" type="button">
     Attorney General
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/us-senate/" class="btn btn-primary btn-lg district-button" type="button">
     U.S. Senator
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/us-house/" class="btn btn-primary btn-lg district-button" type="button">
     Representative in Congress
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/state-senate/" class="btn btn-primary btn-lg district-button" type="button">
     State Senator
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/state-house/" class="btn btn-primary btn-lg district-button" type="button">
     House of Delegates
    </a>
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6">
    <a href="/circuit-court/" class="btn btn-primary btn-lg district-button" type="button">
     Judge of the Circuit Court
    </a>
   </div>
  </div>
  <!-- END STATE RACES -->
  <!-- START LOCAL RACES -->
  <div id="local-races" class="splash-container">
   <h1 class="section-header-splash grey">
    LOCAL
   </h1>
  </div>
  <!-- END LOCAL RACES -->
  <div class="clear-splash">
  </div>
  <div id="leaderboard-ad" class="splash-ad">
   <!-- leaderboard ad-->
   <script type="text/javascript">
    googletag.cmd.push(function() {

            //Adslot 1 declaration
            gptadslots[1]= googletag.defineSlot('/4011/trb.baltimoresun/news', [[728,90]],'div-gpt-ad-785317941620082696-1').setTargeting('pos',['1']).addService(googletag.pubads());

            googletag.pubads().setTargeting('ptype',['s']);
            googletag.pubads().enableAsyncRendering();
            googletag.enableServices();
          });
   </script>
   <!-- End: GPT -->
   <!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[728,90]] -->
   <!-- Adslot&#39;s refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
   <div id="div-gpt-ad-785317941620082696-1">
    <script type="text/javascript">
     googletag.cmd.push(function() { googletag.display('div-gpt-ad-785317941620082696-1'); });
    </script>
   </div>
   <!-- End AdSlot 1 -->
  </div>
{{ end }}
