.btn {
  font-family: "Source Sans Pro", arial, sans-serif;
  border: none;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #667682;
  color: #ffffff;
}

.btn-primary2 {
  background: #999;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.open > .dropdown-toggle.btn-primary {
  background: #818e98;
  border: none;
}

.btn-primary2:hover,
.btn-primary2:focus,
.open > .dropdown-toggle.btn-primary2 {
  background: #818e98;
  border: none;
  color: #ffffff;
}

#chooseDistrict.btn.btn-primary:focus,
#chooseDistrict.btn.btn-primary.focus,
#chooseDistrict.btn.btn-primary:active,
#chooseDistrict.btn.btn-primary.active,
a.btn.btn-primary:active,
a.btn.btn-primary.active {
  background: #818e98;
  box-shadow: none;
}

#chooseDistrict.btn {
  width: 100%;
}

ul.dropdown-menu {
  width: 100%;
  z-index: 9999;
}

ul.dropdown-menu li {
  font-family: "Source Sans Pro", arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  height: 25px;
  text-align: center;
}

ul.dropdown-menu li:hover {
  background: #f0f0f0;
}

a.btn {
  color: #fff;
  font-weight: 300;
  font-family: "Source Sans Pro", arial, sans-serif;
}

#button-clear {
  clear: both;
  margin-bottom: 5px;
}

.btn-primary.district-button {
  background: #667682;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.district-picker {
  padding-left: 70px;
  padding-right: 70px;
}

.small-button {
  width: 50% !important;
}

.btn-primary.district-button:hover {
  background: #818e98;
}

.btn-primary.district-button:active,
.btn-primary.find-district-button:active {
  background: #cdcdcd;
}

.top-buttons {
  background: #fff;
  color: #667682;
  border: 2px solid #667682;
  font-size: 1.5em;
  width: 200px;
  margin-bottom: 5px;
}

.top-buttons:hover,
.top-buttons.selected:hover {
  background: #818e98;
  border: 2px solid #667682;
}

div.btn.top-buttons {
  color: #667682;
  font-weight: bold;
  cursor: pointer;
}

div.btn.top-buttons:active {
  background: #818e98;
  font-weight: bold;
  border: 2px solid #667682;
}

div.btn.top-buttons:hover {
  color: #fff;
  font-weight: bold;
}

.top-buttons.selected {
  background: #667682;
  cursor: default;
  border: 2px solid #667682;
}

div.btn.top-buttons.selected {
  color: #fff;
}

@media only screen and (max-width: 450px) {
  .col-xs-6 {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #chooseDistrict.btn,
  .btn-primary {
    font-size: 1.5em;
    padding: 5px 8px;
    width: 275px;
  }
}

@media only screen and (min-width: 500px) {
  #button-clear {
    display: none;
  }
}
