.next-in-section {
  margin-bottom: 2em;
  .candidates-btn {
    height: auto;
  }
  .link {
    font-size: 1.5em;
    transform: translateX(0px);
    transition: all 0.5s;
  }
  a.btn {
    color: white;
    font-weight: 600;
  }
  .link.left:hover {
    transform: translateX(-10px);
  }
  .link.right:hover {
    transform: translateX(10px);
  }
  .link.left {
    @media only screen and (max-width: 585px) {
      float: none;
      margin-right: 0;
    }
  }
  .link.right {
    @media only screen and (max-width: 585px) {
      float: none;
      margin: 20px 0 0 0;
    }
  }
}

.note {
  background-color: #f6f6f6;
  padding: 20px;
  margin-top: 20px;
  i {
    font-style: oblique;
  }
  a {
    color: #2e98cc;
  }
  @media only screen and (max-width: 990px) {
    margin-top: 0;
  }
  @media only screen and (max-width: 770px) {
    padding: 10px;
  }
}
.note .note-header {
  text-align: center;
  color: #a5a5a5;
  padding-left: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 1.5em;
  @media only screen and (max-width: 770px) {
    font-size: 1.3em;
  }
}

.note .note-body {
  font-weight: bold;
  font-style: italic;
  color: #667682;
  font-size: 1.3em;

  @media only screen and (max-width: 770px) {
    font-size: 1.1em;
  }
}
