.next-in-section {
  margin-bottom: 2em;
  .candidates-btn {
    height: auto;
  }
  .link {
    font-size: 1.5em;
    transform: translateX(0px);
    transition: all 0.5s;
  }
  a.btn {
    color: white;
    font-weight: 600;
  }
  .link.left:hover {
    transform: translateX(-10px);
  }
  .link.right:hover {
    transform: translateX(10px);
  }
  .link.left {
    @media only screen and (max-width: 585px) {
      float: none;
      margin-right: 0;
    }
  }
  .link.right {
    @media only screen and (max-width: 585px) {
      float: none;
      margin: 20px 0 0 0;
    }
  }
}
