/******** FONTS *********/

@font-face {
  font-family: Brandon;
  font-weight: normal;
  src: url("fonts/brandon/brandon_med.otf") format("opentype");
}

@font-face {
  font-family: Brandon;
  font-weight: bold;
  src: url("fonts/brandon/brandon_bld.otf") format("opentype");
}

@font-face {
  font-family: Brandon;
  font-weight: black;
  src: url("fonts/brandon/brandon_blk.otf") format("opentype");
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-regular.woff2")
      format("woff2"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-700.woff2")
      format("woff2"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-900 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-900.woff2")
      format("woff2"),
    url("fonts/source-sans-pro/source-sans-pro-v11-latin-900.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons/icons.eot?fylnot");
  src: url("fonts/icons/icons.eot?#iefixfylnot") format("embedded-opentype"),
    url("fonts/icons/icons.woff?fylnot") format("woff"),
    url("fonts/icons/icons.ttf?fylnot") format("truetype"),
    url("fonts/icons/icons.svg?fylnot#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
  content: "\e60f";
}
.icon-bars:before {
  content: "\e604";
}
.icon-list:before {
  content: "\e605";
}
.icon-list2:before {
  content: "\e606";
}
.icon-menu:before {
  content: "\e600";
}
.icon-globe:before {
  content: "\e60d";
}

.icon-checkbox:before {
  content: "\e602";
}

.icon-star:before {
  content: "\e607";
}
.icon-news:before {
  content: "\e60b";
}
.icon-bio:before {
  content: "\e610";
}
.icon-pie:before {
  content: "\e608";
}
.icon-bars2:before {
  content: "\e609";
}
.icon-menu2:before {
  content: "\e601";
}
.icon-play:before {
  content: "\e60c";
}
.icon-twitter:before {
  content: "\e621";
}
.icon-facebook:before {
  content: "\e620";
}
// Not in the Font Awesome set we have and don't want to take the time to regenerate it
.icon-instagram {
  display: inline-block;

  svg {
    height: 25px;
    padding: 2px;
    width: 25px;
  }
}
