.results-nav {
  margin-top: 20px;
}
.sticky {
  background-color: white;
  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: 600px) {
    padding-bottom: 10px;
  }
}
:focus {
  outline: none;
  border: none;
}
.sticky + .content {
  padding-top: 102px;
}
.results-nav li .results-item {
  background-color: #667682;
  color: white;
  text-transform: uppercase;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1em;
    padding: 10px 3px 10px 4px;
  }

}
.results-nav li .results-item a:hover, .results-nav li .results-item a:active {
  text-decoration: none;
}
.results-nav .dropdown-menu li a {
  white-space: inherit;
}
.results-nav li .results-item:hover,
.results-nav li .results-item:hover:active,
.nav .open > a,
.nav .open > a:focus {
  background-color: #818e98;
}

.race {
  margin: 20px 0 20px 0;
}
.race table {
  width: 100%;
}

.race th {
  font-weight: normal;
  word-break: break-word;
}

.primary .race td.candidate,
.primary .race th.candidate {
  width: 35%;
  color: #667682;
  @media (max-width: 900px) {
    padding-right: 0.5rem;
  }
  @media (max-width: 600px) {
    width: 40%;
    padding-right: 0.5rem;
  }
}

.race td.party-col,
.race th.party-col {
  width: 10%;
  color: #667682;
}

.primary .race td.votes,
.primary .race th.votes {
  width: 15%;
  color: #667682;
  @media (max-width: 900px) {
    padding-left: 0.7rem;
  }
}

.race td.percent,
.race th.percent {
  width: 50%;
  color: #667682;
}

.race td.name {
  font-weight: bold;
}

.race td {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dashed #cdcdcd;
}

.percent-bar-bg {
  width: 80%;
  background: #cdcdcd;
  height: 20px;
  float: left;
  @media (max-width: 600px) {
    display: none;
  }
}

.percent-bar {
  background: #667682;
  height: 20px;
  @media (max-width: 600px) {
    display: none;
  }
}

.vote-percent {
  float: left;
  padding-left: 10px;
}

.update {
  display: none;
  color: #ed4227;
  font-size: 0.75em;
}

.results-header {
  font-family: brandon, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

.race .section-header {
  padding-left: 0;
  margin-top: 0;
}

button.view-hide {
  margin-top: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.find-results {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .race td.party-col,
  .race td.votes,
  .race td.percent {
    width: 20%;
  }
  .section-header-results {
    font-size: 1.5em;
  }
}

.district-results {
  display: none; // Overrides on button push
  max-width: 100%;
  overflow-x: scroll;

  [title] {
    cursor: help;
  }

  .show-district-results & {
    display: block;
  }

  th {
    vertical-align: bottom;
  }

  th:nth-child(even),
  td:nth-child(even) {
    background-color: #f6f6f6;
  }

  .fixed {
    width: 10rem;
  }

  .numeric {
    text-align: right;
    padding-right: 0.5em;
  }

  @media (max-width: 600px) {
    th {
      display: none;
    }

    td {
      display: block;
      text-align: left !important;
    }
    td:nth-child(even) {
      background-color: inherit;
    }

    td:before {
      content: attr(data-col)": ";
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f6f6f6;
    }

    .fixed {
      width: 100%;
    }
  }
}

.js-select2 {
  width: 100%;
}
